<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vinyls</title>
    {% load static %}
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}">
  </head>
  <body>
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
      <script type="text/javascript">
        $(document).ready(function() {
        $('select').material_select();
        });
      </script>
    <h3>Vinyls</h3>
    <table>
      <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Condition</th>
      </tr>
      {%for vinyls in vinyl%}
      <tr>
          <td><a href="/vinyl/{{vinyls.id}}">{{vinyls.title}}</td>
          <td>{{vinyls.artist}}</td>
          <td>{{vinyls.description}}</td>
      </tr>
      {%endfor%}
    </table>
  </body>
</html>
<!-- <a href="/friends/{{ids.id}}/remove">Remove as Friend</a></td> -->
